.ui-button {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 112%;
    text-align: center;
    padding: 14px 24px;
    border-radius: 67px;
    
    border: none;
    outline: none;

    transition: .2s ease;

    cursor: pointer;
    position: relative;
    z-index: 10;

    a {
        transition: .2s ease;
        text-decoration: none;
    }


    @media (max-width:768px) {
        padding: 7px 12px;
    }
    

    

    &-orange {
        background: var(--color);
        
        color: var(--secondary-color-1);

        transition: .2s ease;
        border: 2px solid transparent;

        a {
            transition: .2s ease;
            color: var(--secondary-color-1);
        }

        &:hover {
            transition: .2s ease;
            background-color: #fff;
            color: var(--color);
            border: 2px solid var(--color);

            a {
                color: var(--color);
            }
        }
        
    }
    &-transparent {
        transition: .2s ease;
        border: 2px solid transparent;
        a {
            transition: .2s ease;
            color: var(--secondary-color-1);
        }

        &:hover {
            transition: .2s ease;
            background-color: #fff;
            color: var(--color);
            border: 2px solid var(--color);

            a {
                color: var(--color);
            }
        }

    }
    &-white {
        background: var(--secondary-color-1);
        transition: .2s ease;

        border: 2px solid transparent;

        a {
            transition: .2s ease;
            color: var(--primary-accent);
        }

        &:hover {
            transition: .2s ease;
            background-color: var(--color);
            color: #fff;
            border: 2px solid #fff;

            a {
                color: #fff;
            }
        }
    }
}

.ui-button-link {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: var(--neutral-500);

    a {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 114%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-align: center;
        color: var(--neutral-500);
    }
}