:root {
	--font-family: 'Poppins';
	--primary-accent: #ed702e;
	--secondary-color-1: #fff;
	--secondary-color-2: #fffefa;
	--secondary-color-3: #ffde6a;
	--secondary-color-4: #ff6969;
	--neutral-100: #fff;
	--neutral-200: #fafafa;
	--neutral-300: #e4e4ed;
	--neutral-400: #d7d7e9;
	--neutral-500: #8c8c9e;
	--neutral-600: #4a4a5b;
	--neutral-700: #33334e;
	--neutral-800: #171728;
	--other-logo-colors-100: #4a3aff;
	--other-logo-colors-200: #8055fa;
	--other-logo-colors-300: #7550fb;
	--other-logo-colors-400: #6a4afc;
	--other-logo-colors-500: #6045fd;
	--other-logo-colors-600: #553ffe;
	--other-logo-colors-700: #0d0a2c;
	--other-company-colors-pinterest: #e60023;
	--other-company-colors-facebook: #337fff;
	--other-company-colors-twitch: #944dff;
	--other-company-colors-x: #000;
	--other-company-colors-zapier: #ff4a00;
	--other-company-colors-linkedin: #0077b7;
	--other-company-colors-gmail: #ea4335;
	--other-company-colors-whatsapp: #00d95f;
	--other-company-colors-telegram: #039be5;
	--other-company-colors-youtube: #f00;
	--other-company-colors-twitter: #1d9bf0;
	--other-company-colors-facebook: #337fff;
	--other-company-colors-linkedin: #0077b7;
	--other-company-colors-gmail: #ea4335;
	--other-company-colors-whatsapp: #00d95f;
	--other-company-colors-telegram: #039be5;
	--other-company-colors-youtube: #f00;
	--other-company-colors-webflow: #146ef5;
	--other-companies-tiktok-color-1: #ee1d52;
	--other-companies-tiktok-color-2: #69c9d0;
	--other-companies-mozilla-firefox-color-1: #20123a;
	--other-companies-safari-color-1: #f3f3f3;
	--other-companies-safari-fade: rgba(0, 0, 0, 0.05);
	--other-companies-safari-color-2: #acacac;
	--other-companies-safari-color-3: #cd151e;
	--other-companies-safari-color-4: #e2e2e2;
	--other-companies-safari-color-5: #eee;
	--other-companies-safari-color-6: #fa5153;
	--other-companies-google-chrome-color-1: #ea4335;
	--other-companies-google-chrome-color-2: #17a05d;
	--other-companies-google-chrome-color-3: #fbbc05;
	--other-companies-google-chrome-color-4: #4c8bf4;
	--color: #ed702e;
	--color-2: #989898;
}