section.company-single
    .container.company-single__container 
        .company-single__wrapper 
            .company-single__top 
                
                .company-single__profile
                    .company-single__bg 
                        img(src="./img/company-single_bg.png", alt="")
                    .company-single__info 

                        .company-single__img
                            img(src="./img/N1.jpg", alt="")

                        .company-single__col.company-single__col-first 
                            .company-single__title Webflow

                            .company-single__location 
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.0984 6.49244C14.0984 9.55933 11.9673 11.3235 10.3703 13.0317C9.74411 13.7152 9.16881 14.4438 8.64906 15.2114C8.13114 14.4452 7.55727 13.7183 6.93215 13.0367C5.33513 11.3293 3.19971 9.56224 3.19971 6.49244C3.19971 5.04718 3.77383 3.66112 4.79578 2.63917C5.81774 1.61722 7.2038 1.04309 8.64906 1.04309C10.0943 1.04309 11.4804 1.61722 12.5023 2.63917C13.5243 3.66112 14.0984 5.04718 14.0984 6.49244V6.49244Z" stroke="#4A4A5B" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M6.46924 6.49242C6.46924 7.07053 6.69889 7.62495 7.10767 8.03373C7.51645 8.44251 8.07087 8.67216 8.64898 8.67216C9.22708 8.67216 9.78151 8.44251 10.1903 8.03373C10.5991 7.62495 10.8287 7.07053 10.8287 6.49242C10.8287 5.91432 10.5991 5.35989 10.1903 4.95111C9.78151 4.54233 9.22708 4.31268 8.64898 4.31268C8.07087 4.31268 7.51645 4.54233 7.10767 4.95111C6.69889 5.35989 6.46924 5.91432 6.46924 6.49242Z" stroke="#4A4A5B" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                p San Francisco
                        .company-single__col.company-single__col-second 
                            .company-single__members 
                                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.4248 4.3567C5.4248 5.23552 5.77392 6.07835 6.39534 6.69978C7.01676 7.3212 7.85959 7.67031 8.73841 7.67031C9.61724 7.67031 10.4601 7.3212 11.0815 6.69978C11.7029 6.07835 12.052 5.23552 12.052 4.3567C12.052 3.47788 11.7029 2.63505 11.0815 2.01362C10.4601 1.3922 9.61724 1.04309 8.73841 1.04309C7.85959 1.04309 7.01676 1.3922 6.39534 2.01362C5.77392 2.63505 5.4248 3.47788 5.4248 4.3567V4.3567Z" stroke="#4A4A5B" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2.58447 15.6703C2.58447 14.0382 3.23282 12.473 4.38689 11.3189C5.54096 10.1648 7.10622 9.51648 8.73832 9.51648C10.3704 9.51648 11.9357 10.1648 13.0897 11.3189C14.2438 12.473 14.8922 14.0382 14.8922 15.6703" stroke="#4A4A5B" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                p 100 - 1,000
                        .company-single__col.company-single__col-third
                            .company-single__link 
                                a(href="") Visit Website
                                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.73828 10.4277L10.7383 2.42773" stroke="#ED702E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M10.7383 9.97015V2.42773H3.19585" stroke="#ED702E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>


                .company-single__tabs 
                    .company-single__tab Company Score
                    .company-single__tab About the company
                    .company-single__tab Review Company

            .company-single__about
                h5 About the company
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus augue sagittis erat consectetur est. Blandit blandit nec mauris pulvinar. Lectus duis amet tortor, sit tincidunt. Rhoncus tincidunt imperdiet penatibus vitae risus, vitae. 
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lectus dictum ultrices lacus sodales nunc felis eu, consectetur arcu. Vitae nulla scelerisque id 

                ul 
                    li Neque sodales ut etiam sit amet nisl purus. Non tellus orci ac auctor. 
                    li Adipiscing elit ut aliquam purus sit amet. Viverra suspendisse potenti nullam ac.
                    li Mauris commodo quis imperdiet massa tincidunt nunc pulvinar 

                img(src="https://placehold.co/650x420", alt="")
                
                .company-single__about-bottom 
                    h6 Follow Webflow 

                    <div class="footer-bottom__socials">
                        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
                                            <g filter="url(#filter0_d_240_3290)">
                                            <rect x="9" y="3.00049" width="29.1355" height="29.1355" rx="14.5677" fill="#337FFF"></rect>
                                            </g>
                                            <path d="M25.1956 25.8274V18.4379H27.8008L28.1909 15.558H25.1955V13.7193C25.1955 12.8855 25.4387 12.3173 26.6946 12.3173L28.2963 12.3166V9.74091C28.0193 9.70587 27.0684 9.62744 25.9624 9.62744C23.6529 9.62744 22.0719 10.9695 22.0719 13.4342V15.558H19.46V18.4379H22.0719V25.8274H25.1956V25.8274Z" fill="white"></path>
                                            <defs>
                                            <filter id="filter0_d_240_3290" x="0.566045" y="0.700319" width="46.0034" height="46.0032" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                                            <feOffset dy="6.13379"></feOffset>
                                            <feGaussianBlur stdDeviation="4.21698"></feGaussianBlur>
                                            <feColorMatrix type="matrix" values="0 0 0 0 0.0823529 0 0 0 0 0.454902 0 0 0 0 0.937255 0 0 0 0.21 0"></feColorMatrix>
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_3290"></feBlend>
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_3290" result="shape"></feBlend>
                                            </filter>
                                            </defs>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
                                            <g filter="url(#filter0_d_240_3294)">
                                            <rect x="9.1355" y="3.00049" width="29.1355" height="29.1355" rx="14.5677" fill="black"></rect>
                                            </g>
                                            <path d="M25.3297 16.7588L30.6904 10.5273H29.4201L24.7654 15.938L21.0477 10.5273H16.7598L22.3817 18.7092L16.7598 25.2438H18.0302L22.9457 19.53L26.8718 25.2438H31.1598L25.3294 16.7588H25.3297ZM23.5897 18.7813L23.0201 17.9666L18.4879 11.4837H20.4391L24.0967 16.7156L24.6663 17.5303L29.4207 24.3309H27.4695L23.5897 18.7816V18.7813Z" fill="white"></path>
                                            <defs>
                                            <filter id="filter0_d_240_3294" x="0.701543" y="0.700319" width="46.0034" height="46.0032" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                                            <feOffset dy="6.13379"></feOffset>
                                            <feGaussianBlur stdDeviation="4.21698"></feGaussianBlur>
                                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"></feColorMatrix>
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_3294"></feBlend>
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_3294" result="shape"></feBlend>
                                            </filter>
                                            </defs>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
                                            <g filter="url(#filter0_d_240_3298)">
                                            <rect x="9.271" y="3.00049" width="29.1352" height="29.1352" rx="14.5676" fill="url(#paint0_linear_240_3298)"></rect>
                                            </g>
                                            <path d="M21.5611 17.7276C21.5611 16.4021 22.6353 15.3273 23.9608 15.3273C25.2863 15.3273 26.3611 16.4021 26.3611 17.7276C26.3611 19.0531 25.2863 20.1279 23.9608 20.1279C22.6353 20.1279 21.5611 19.0531 21.5611 17.7276ZM20.2635 17.7276C20.2635 19.7696 21.9188 21.4249 23.9608 21.4249C26.0028 21.4249 27.658 19.7696 27.658 17.7276C27.658 15.6856 26.0028 14.0304 23.9608 14.0304C21.9188 14.0304 20.2636 15.6855 20.2636 17.7276H20.2635ZM26.9404 13.8838C26.9404 14.0547 26.991 14.2217 27.0859 14.3639C27.1807 14.506 27.3156 14.6168 27.4735 14.6822C27.6314 14.7477 27.8051 14.7649 27.9727 14.7316C28.1403 14.6983 28.2943 14.6161 28.4152 14.4953C28.5361 14.3745 28.6184 14.2206 28.6518 14.053C28.6852 13.8854 28.6682 13.7117 28.6029 13.5538C28.5375 13.3959 28.4268 13.2609 28.2848 13.1659C28.1427 13.0709 27.9757 13.0202 27.8048 13.0201H27.8045C27.5754 13.0202 27.3558 13.1112 27.1937 13.2731C27.0317 13.4351 26.9406 13.6547 26.9404 13.8838ZM21.0519 23.5885C20.3499 23.5566 19.9683 23.4396 19.7147 23.3409C19.3786 23.21 19.1387 23.0541 18.8865 22.8023C18.6344 22.5504 18.4783 22.3108 18.348 21.9746C18.2491 21.7212 18.1322 21.3395 18.1003 20.6375C18.0654 19.8786 18.0584 19.6506 18.0584 17.7277C18.0584 15.8049 18.0659 15.5776 18.1003 14.818C18.1322 14.116 18.25 13.735 18.348 13.4808C18.4788 13.1447 18.6347 12.9048 18.8865 12.6526C19.1384 12.4005 19.378 12.2444 19.7147 12.1141C19.9682 12.0152 20.3499 11.8983 21.0519 11.8664C21.8108 11.8315 22.0388 11.8245 23.9608 11.8245C25.8827 11.8245 26.111 11.8319 26.8706 11.8665C27.5726 11.8985 27.9535 12.0162 28.2077 12.1142C28.5439 12.2445 28.7837 12.4009 29.0359 12.6528C29.2881 12.9046 29.4436 13.1448 29.5745 13.481C29.6733 13.7344 29.7903 14.1161 29.8222 14.8181C29.8571 15.5777 29.864 15.805 29.864 17.7279C29.864 19.6507 29.8571 19.878 29.8222 20.6376C29.7902 21.3396 29.6727 21.7212 29.5745 21.9748C29.4436 22.3109 29.2877 22.5508 29.0359 22.8024C28.7841 23.054 28.5439 23.2101 28.2077 23.341C27.9542 23.4398 27.5726 23.5568 26.8706 23.5887C26.1116 23.6236 25.8836 23.6305 23.9608 23.6305C22.038 23.6305 21.8106 23.6236 21.0519 23.5887V23.5885ZM20.9923 10.5709C20.2257 10.6059 19.702 10.7274 19.2445 10.9054C18.7711 11.0892 18.3698 11.3358 17.9691 11.7359C17.5683 12.136 17.3224 12.5374 17.1385 13.0114C16.9606 13.4691 16.839 13.9926 16.8041 14.7591C16.7686 15.5268 16.7605 15.7723 16.7605 17.7276C16.7605 19.683 16.7686 19.9284 16.8041 20.6962C16.839 21.4627 16.9606 21.9862 17.1385 22.4439C17.3224 22.9173 17.5684 23.3194 17.9691 23.7194C18.3697 24.1193 18.7705 24.3655 19.2445 24.5499C19.7028 24.7279 20.2257 24.8494 20.9923 24.8843C21.7604 24.9192 22.0054 24.9279 23.9608 24.9279C25.9162 24.9279 26.1616 24.9198 26.9293 24.8843C27.6959 24.8494 28.2193 24.7279 28.677 24.5499C29.1505 24.3655 29.5518 24.1195 29.9525 23.7194C30.3533 23.3193 30.5987 22.9173 30.783 22.4439C30.961 21.9862 31.0831 21.4627 31.1175 20.6962C31.1524 19.9279 31.1605 19.683 31.1605 17.7276C31.1605 15.7723 31.1524 15.5268 31.1175 14.7591C31.0826 13.9925 30.961 13.4688 30.783 13.0114C30.5987 12.538 30.3526 12.1366 29.9525 11.7359C29.5524 11.3352 29.1505 11.0892 28.6776 10.9054C28.2193 10.7274 27.6958 10.6053 26.9299 10.5709C26.1621 10.5359 25.9167 10.5273 23.9617 10.5273C22.0066 10.5273 21.7607 10.5355 20.9925 10.5709" fill="white"></path>
                                            <defs>
                                            <filter id="filter0_d_240_3298" x="0.837126" y="0.700341" width="46.0029" height="46.003" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                                            <feOffset dy="6.13372"></feOffset>
                                            <feGaussianBlur stdDeviation="4.21694"></feGaussianBlur>
                                            <feColorMatrix type="matrix" values="0 0 0 0 0.983333 0 0 0 0 0.0573611 0 0 0 0 0.354726 0 0 0 0.14 0"></feColorMatrix>
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_3298"></feBlend>
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_3298" result="shape"></feBlend>
                                            </filter>
                                            <linearGradient id="paint0_linear_240_3298" x1="37.8462" y1="32.1357" x2="8.71102" y2="3.00049" gradientUnits="userSpaceOnUse">
                                            <stop stop-color="#FBE18A"></stop>
                                            <stop offset="0.21" stop-color="#FCBB45"></stop>
                                            <stop offset="0.38" stop-color="#F75274"></stop>
                                            <stop offset="0.52" stop-color="#D53692"></stop>
                                            <stop offset="0.74" stop-color="#8F39CE"></stop>
                                            <stop offset="1" stop-color="#5B4FE9"></stop>
                                            </linearGradient>
                                            </defs>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
                                            <g filter="url(#filter0_d_240_3302)">
                                            <rect x="9.40613" y="3.00049" width="29.1352" height="29.1352" rx="14.5676" fill="#0077B7"></rect>
                                            </g>
                                            <path d="M16.7599 12.1204C16.7599 11.6586 16.9221 11.2777 17.2464 10.9776C17.5707 10.6774 17.9923 10.5273 18.5112 10.5273C19.0209 10.5273 19.4332 10.6751 19.7483 10.9706C20.0726 11.2754 20.2348 11.6725 20.2348 12.162C20.2348 12.6053 20.0773 12.9747 19.7622 13.2702C19.4379 13.575 19.0116 13.7273 18.4834 13.7273H18.4695C17.9599 13.7273 17.5475 13.575 17.2325 13.2702C16.9174 12.9654 16.7599 12.5822 16.7599 12.1204ZM16.9406 24.2416V14.9879H20.0263V24.2416H16.9406ZM21.7359 24.2416H24.8217V19.0745C24.8217 18.7513 24.8587 18.5019 24.9329 18.3265C25.0626 18.0125 25.2595 17.747 25.5236 17.5299C25.7877 17.3129 26.119 17.2044 26.5174 17.2044C27.5553 17.2044 28.0742 17.9017 28.0742 19.2962V24.2416H31.1599V18.936C31.1599 17.5692 30.8356 16.5325 30.1869 15.826C29.5383 15.1195 28.6811 14.7663 27.6155 14.7663C26.4201 14.7663 25.4888 15.2789 24.8217 16.304V16.3317H24.8078L24.8217 16.304V14.9879H21.7359C21.7545 15.2835 21.7637 16.2024 21.7637 17.7447C21.7637 19.2869 21.7545 21.4526 21.7359 24.2416Z" fill="white"></path>
                                            <defs>
                                            <filter id="filter0_d_240_3302" x="0.972258" y="0.700341" width="46.0029" height="46.003" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                                            <feOffset dy="6.13372"></feOffset>
                                            <feGaussianBlur stdDeviation="4.21694"></feGaussianBlur>
                                            <feColorMatrix type="matrix" values="0 0 0 0 0.0823529 0 0 0 0 0.494118 0 0 0 0 0.905882 0 0 0 0.34 0"></feColorMatrix>
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_3302"></feBlend>
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_3302" result="shape"></feBlend>
                                            </filter>
                                            </defs>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
                                            <g filter="url(#filter0_d_240_3307)">
                                            <rect x="8.54138" y="3.00049" width="29.1355" height="29.1355" rx="14.5677" fill="#FF0000"></rect>
                                            </g>
                                            <path d="M23.6971 22.8582L20.5787 22.7999C19.569 22.7796 18.5568 22.8201 17.5669 22.6097C16.0611 22.2954 15.9544 20.7539 15.8427 19.461C15.6889 17.6433 15.7485 15.7925 16.0387 13.99C16.2026 12.9785 16.8475 12.375 17.8448 12.3093C21.2113 12.071 24.6002 12.0992 27.9593 12.2104C28.314 12.2206 28.6712 12.2763 29.021 12.3398C30.7478 12.6491 30.7899 14.3958 30.9018 15.8663C31.0135 17.3519 30.9663 18.8452 30.753 20.3207C30.5818 21.5424 30.2543 22.5669 28.8722 22.6658C27.1405 22.7951 25.4485 22.8992 23.712 22.8661C23.712 22.8582 23.7021 22.8582 23.6971 22.8582ZM21.8638 19.7652C23.1688 18.9996 24.4488 18.2466 25.7463 17.4861C24.4389 16.7204 23.1613 15.9674 21.8638 15.2069V19.7652Z" fill="white"></path>
                                            <defs>
                                            <filter id="filter0_d_240_3307" x="0.107427" y="0.700319" width="46.0034" height="46.0032" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                                            <feOffset dy="6.13379"></feOffset>
                                            <feGaussianBlur stdDeviation="4.21698"></feGaussianBlur>
                                            <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0.21 0"></feColorMatrix>
                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_3307"></feBlend>
                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_3307" result="shape"></feBlend>
                                            </filter>
                                            </defs>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
                                        <g filter="url(#filter0_d_240_3312)">
                                        <rect x="8.67688" y="3.00049" width="29.1352" height="29.1352" rx="14.5676" fill="#00D95F"></rect>
                                        </g>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M29.6289 12.0631C28.1249 10.5578 26.1246 9.72839 23.9935 9.72754C19.6024 9.72754 16.0286 13.3 16.0269 17.691C16.0263 19.0947 16.3932 20.4648 17.0903 21.6725L15.9601 25.7995L20.1833 24.692C21.3469 25.3265 22.657 25.6608 23.9903 25.6614H23.9936C28.3842 25.6614 31.9583 22.0885 31.9601 17.6974C31.9609 15.5694 31.1331 13.5685 29.6289 12.0631ZM23.9936 24.3163H23.9909C22.8027 24.3158 21.6374 23.9968 20.6208 23.3936L20.3789 23.2502L17.8729 23.9074L18.5418 21.4647L18.3843 21.2143C17.7215 20.1604 17.3714 18.9422 17.372 17.6915C17.3734 14.0419 20.3438 11.0726 23.9962 11.0726C25.7648 11.0733 27.4273 11.7627 28.6775 13.0139C29.9276 14.2651 30.6157 15.9282 30.615 17.6969C30.6135 21.3468 27.6431 24.3163 23.9936 24.3163ZM27.6256 19.3588C27.4265 19.2592 26.4479 18.7777 26.2654 18.7113C26.083 18.6449 25.9503 18.6117 25.8175 18.8109C25.6849 19.0101 25.3034 19.4584 25.1872 19.5912C25.0711 19.724 24.955 19.7406 24.756 19.641C24.5569 19.5414 23.9155 19.3313 23.1552 18.6533C22.5635 18.1257 22.1639 17.474 22.0478 17.2748C21.9317 17.0756 22.0355 16.9679 22.1351 16.8687C22.2247 16.7795 22.3342 16.6363 22.4337 16.52C22.5332 16.4038 22.5664 16.3208 22.6327 16.188C22.6991 16.0552 22.6659 15.939 22.6162 15.8394C22.5664 15.7398 22.1683 14.7603 22.0024 14.3619C21.8409 13.9739 21.6767 14.0264 21.5546 14.0203C21.4386 14.0145 21.3057 14.0133 21.1731 14.0133C21.0403 14.0133 20.8247 14.0631 20.6422 14.2623C20.4598 14.4615 19.9456 14.943 19.9456 15.9224C19.9456 16.9019 20.6588 17.8481 20.7584 17.9809C20.8579 18.1137 22.162 20.1237 24.1588 20.9857C24.6337 21.1907 25.0045 21.3131 25.2936 21.4049C25.7705 21.5563 26.2044 21.5349 26.5474 21.4837C26.9298 21.4266 27.7251 21.0023 27.891 20.5375C28.0569 20.0726 28.0569 19.6742 28.0071 19.5912C27.9573 19.5082 27.8246 19.4584 27.6256 19.3588Z" fill="white"></path>
                                        <defs>
                                        <filter id="filter0_d_240_3312" x="0.24301" y="0.700341" width="46.0029" height="46.003" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                                        <feOffset dy="6.13372"></feOffset>
                                        <feGaussianBlur stdDeviation="4.21694"></feGaussianBlur>
                                        <feColorMatrix type="matrix" values="0 0 0 0 0.329412 0 0 0 0 0.894118 0 0 0 0 0.278431 0 0 0 0.16 0"></feColorMatrix>
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_240_3312"></feBlend>
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_240_3312" result="shape"></feBlend>
                                        </filter>
                                        </defs>
                        </svg>
                    </div>



                        
