.post-blocks {

    @include adaptiveValue(padding-bottom, 150px, 62px, 1440px, 375px);

    &__container {
        max-width: 1180px;
        margin:  0 auto;
        padding: 0 20px;
    }
    &__wrapper {
        display: flex;
        gap: 24px;

        @media (max-width:767px) {
            flex-direction: column;
        }
    }
    

    &__block {

        display: flex;
        flex-direction: column;
        width: 50%;

        position: relative;

        @media (max-width:767px) {
            width: 100%;
        }



        .ui-button {
            width: fit-content;
            padding: 22px 42px;
            margin-top: auto;
        }

        .bg {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            width: 100%;
            height: 100%;

            svg {
                display: flex;
                width: 100%;
                height: 100%;
            }
        }

        &--orange {

            border-radius: 20px;

            @include adaptiveValue(padding-left, 42px, 24px, 1440px, 375px);
            @include adaptiveValue(padding-right, 42px, 24px, 1440px, 375px);
            @include adaptiveValue(padding-top, 72px, 24px, 1440px, 375px);
            @include adaptiveValue(padding-bottom, 64px, 24px, 1440px, 375px);
            

            background: var(--primary-accent);

            h3 {
                font-family: var(--font-family);
                font-weight: 500;
                
                @include adaptiveValue(font-size, 32px, 24px, 1440px, 375px);
                line-height: 144%;
                color: var(--secondary-color-1);

                margin-bottom: 16px;
            }
            p {
                font-family: var(--font-family);
                font-weight: 600;
                @include adaptiveValue(font-size, 16px, 14px, 1440px, 375px);
                line-height: 175%;
                color: var(--secondary-color-1);   
                
                opacity: 0.8;

                margin-bottom: 32px;
            }
            
        }
        &--white {
            border: 1.02px solid var(--neutral-300);
            border-radius: 20px;

            @include adaptiveValue(padding-left, 42px, 24px, 1440px, 375px);
            @include adaptiveValue(padding-right, 42px, 24px, 1440px, 375px);
            @include adaptiveValue(padding-top, 72px, 24px, 1440px, 375px);
            @include adaptiveValue(padding-bottom, 64px, 24px, 1440px, 375px);
            
            background: var(--secondary-color-1);
            
            h3 {
                font-family: var(--font-family);
                font-weight: 500;
                @include adaptiveValue(font-size, 32px, 24px, 1440px, 375px);
                line-height: 144%;
                color: var(--neutral-700);
                margin-bottom: 16px;
            }
            p {
                font-family: var(--font-family);
                font-weight: 600;
                @include adaptiveValue(font-size, 16px, 14px, 1440px, 375px);
                line-height: 175%;
                color: var(--neutral-600);
                margin-bottom: 32px;
            }
        }
    }
}