footer.footer 
    .container.footer__container 
        .footer__wrapper
            .footer__menu
                h6 Pages
                nav.footer__nav 
                    
                    ul 
                    
                        li 
                            a(href="") Home 
                        li  
                            a(href="") About us
                        li 
                            a(href="") Companies 
                        li 
                            a(href="") Privacy Policy 
                    
                    ul 
                        li 
                            a(href="") Blog post 
                        li 
                            a(href="") Contact
            .footer__text 
                p JobGhost is an innovative online platform empowering job seekers with transparent company ratings, using a unique color-coded system to indicate the likelihood of ghosting during the interview process. Navigate your career  confidently with real-time insights, community-driven feedback, and a commitment to fostering transparency in the job market.
.footer-bottom 
    .footer-bottom__container.container
        .footer-bottom__wrapper
            .footer-bottom__copyright © Copyright JobGhost - Webflow
            .footer-bottom__socials
                img(src="https://placehold.co/30", alt="")
                img(src="https://placehold.co/30", alt="")
                img(src="https://placehold.co/30", alt="")
                img(src="https://placehold.co/30", alt="")
                img(src="https://placehold.co/30", alt="")
                img(src="https://placehold.co/30", alt="")

                 
        