section.hero
    .container.hero__container
        .hero__wrapper 
            .hero__title
                h1 WERE YOU<br>GH<span>O</span>STED ?

            .hero__button
                a(href="") YES | NO  



            .hero__bottom 

                .hero__text 
                    .hero__subtitle 
                        h5 See if a company is likely to keep in touch or disappear...
                    .hero__paragraph 
                        p Job Ghost: Empowering job seekers with transparent company ratings and a unique color-coded system to predict interview ghosting. 
                .hero__bottom--img 
                    img(src="./img/ghost2 1.png", alt="")

            .hero-search 
                .hero-search__wrapper 
                    .hero-search__dropdown.hero-search__dropdown-first
                        select(name="")
                            option(value="1") 
                            option(value="2")
                            option(value="3")   
                    .hero-search__dropdown.hero-search__dropdown-second   
                        select(name="")
                            option(value="1") 
                            option(value="2")
                            option(value="3")   
                    .hero-search__search
                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.56396 12.513C2.56396 15.2055 3.63356 17.7878 5.53744 19.6917C7.44133 21.5955 10.0235 22.6651 12.716 22.6651C15.4085 22.6651 17.9908 21.5955 19.8947 19.6917C21.7985 17.7878 22.8681 15.2055 22.8681 12.513C22.8681 9.82055 21.7985 7.23832 19.8947 5.33444C17.9908 3.43055 15.4085 2.36096 12.716 2.36096C10.0235 2.36096 7.44133 3.43055 5.53744 5.33444C3.63356 7.23832 2.56396 9.82055 2.56396 12.513V12.513Z" stroke="#8C8C9E" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M19.894 19.6909L24.7769 24.5738" stroke="#8C8C9E" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        input(type="text", name="", placeholder="Search for companies...")
                        button.ui-button.ui-button-orange(type="submit") Search

