section.hero
    .container.hero__container
        .hero__wrapper 
            .hero__title
                h1 WERE YOU<br>GH<span>O</span>STED ?

            .hero__button
                a(href="") YES | NO  



            .hero__bottom 

                .hero__text 
                    .hero__subtitle 
                        h5 See if a company is likely to keep in touch or disappear...
                    .hero__paragraph 
                        p Job Ghost: Empowering job seekers with transparent company ratings and a unique color-coded system to predict interview ghosting. 
                .hero__bottom--img 
                    img(src="./img/ghost2 1.png", alt="")

            .hero-search 
                .hero-search__wrapper 
                    .hero-search__dropdown.hero-search__dropdown-first
                        <svg width="22" height="19" viewBox="0 0 22 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.77213 3.41571C8.77213 2.3105 9.8299 1.41455 11.1347 1.41455C12.4396 1.41455 13.4973 2.3105 13.4973 3.41571V16.4644C13.4973 17.5696 12.4396 18.4655 11.1347 18.4655C9.8299 18.4655 8.77213 17.5696 8.77213 16.4644V3.41571Z" stroke="#ED702E" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M0.912354 11.2484C0.912354 10.1432 1.97013 9.24723 3.27496 9.24723C4.57979 9.24723 5.63757 10.1432 5.63757 11.2484V16.4643C5.63757 17.5696 4.57979 18.4655 3.27496 18.4655C1.97013 18.4655 0.912354 17.5696 0.912354 16.4643V11.2484Z" stroke="#ED702E" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16.6319 7.39179C16.6319 6.28657 17.6897 5.39062 18.9945 5.39062C20.2993 5.39062 21.3571 6.28657 21.3571 7.39179V16.4644C21.3571 17.5696 20.2993 18.4655 18.9945 18.4655C17.6897 18.4655 16.6319 17.5696 16.6319 16.4644V7.39179Z" stroke="#ED702E" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        select(name="")
                            option(value="1") 
                            option(value="2")
                            option(value="3")   
                    .hero-search__dropdown.hero-search__dropdown-second   
                        <img src="./img/color wheel 1.png " alt="">
                        select(name="")
                            option(value="1") 
                            option(value="2")
                            option(value="3")   
                    .hero-search__search
                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.56396 12.513C2.56396 15.2055 3.63356 17.7878 5.53744 19.6917C7.44133 21.5955 10.0235 22.6651 12.716 22.6651C15.4085 22.6651 17.9908 21.5955 19.8947 19.6917C21.7985 17.7878 22.8681 15.2055 22.8681 12.513C22.8681 9.82055 21.7985 7.23832 19.8947 5.33444C17.9908 3.43055 15.4085 2.36096 12.716 2.36096C10.0235 2.36096 7.44133 3.43055 5.53744 5.33444C3.63356 7.23832 2.56396 9.82055 2.56396 12.513V12.513Z" stroke="#8C8C9E" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M19.894 19.6909L24.7769 24.5738" stroke="#8C8C9E" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        input(type="text", name="", placeholder="Search for companies...")
                        button.ui-button.ui-button-orange(type="submit") Search

