section.ghost-scale
    .ghost-scale__container 
        .ghost-scale__bar
            .ghost-scale__indicator( data-value='0' )
        .ghost-scale__labels
            .ghost-scale__label.ghost-scale__label--high HIGHLY LIKELY TO GHOST YOU
            .ghost-scale__label.ghost-scale__label--medium SOMEWHAT LIKELY TO GHOST YOU
            .ghost-scale__label.ghost-scale__label--low LEAST LIKELY TO GHOST YOU

        .ghost-scale__img 
            img(src="./img/bar 1 (3).png", alt="")
        .ghost-scale__scores
            .ghost-scale__score 0
            .ghost-scale__score 1
            .ghost-scale__score 2
            .ghost-scale__score 3
            .ghost-scale__score 4
            .ghost-scale__score 5
            .ghost-scale__score 6
            .ghost-scale__score 7
            .ghost-scale__score 8
            .ghost-scale__score 9
            .ghost-scale__score 10
        .ghost-scale__description SCORING SYSTEM
