section.featured-companies
    .container.featured-companies__container 
        .featured-companies__wrapper 
            .featured-companies__main 
                .section__title.black
                    h3 Featured companies
                .featured-companies-company
                    .featured-companies-company__info 
                        img(src="https://placehold.co/58", alt="")
                        .flex.flex-direction-column
                            h6 Facebook 
                            a(href="") Company site
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.07104 10.3597L10.071 2.35974" stroke="#171728" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M10.071 9.90222V2.3598H2.52862" stroke="#171728" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                    .featured-companies-company__score 
                        .flex.flex-direction-column
                            h6 Score
                            p 9.8

                    .featured-companies-company__color 
                        .flex.flex-direction-column.align-items-center
                            h6 Color 
                            .circle.green

                    .featured-companies-company__review
                    
                        .flex.flex-direction-column

                            a(href="") Company site
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.07104 10.3597L10.071 2.35974" stroke="#171728" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M10.071 9.90222V2.3598H2.52862" stroke="#171728" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                
                .featured-companies-company
                    .featured-companies-company__info 
                        img(src="https://placehold.co/58", alt="")
                        .flex.flex-direction-column
                            h6 Facebook 
                            a(href="") Company site
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.07104 10.3597L10.071 2.35974" stroke="#171728" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M10.071 9.90222V2.3598H2.52862" stroke="#171728" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                    .featured-companies-company__score 
                        .flex.flex-direction-column
                            h6 Score
                            p 9.8

                    .featured-companies-company__color 
                        .flex.flex-direction-column
                            h6 Color 
                            .circle.green

                    .featured-companies-company__review
                    
                        .flex.flex-direction-column

                            a(href="") Company site
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.07104 10.3597L10.071 2.35974" stroke="#171728" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M10.071 9.90222V2.3598H2.52862" stroke="#171728" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>

                .featured-companies-company
                    .featured-companies-company__info 
                        img(src="https://placehold.co/58", alt="")
                        .flex.flex-direction-column
                            h6 Facebook 
                            a(href="") Company site
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.07104 10.3597L10.071 2.35974" stroke="#171728" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M10.071 9.90222V2.3598H2.52862" stroke="#171728" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                    .featured-companies-company__score 
                        .flex.flex-direction-column
                            h6 Score
                            p 9.8

                    .featured-companies-company__color 
                        .flex.flex-direction-column
                            h6 Color 
                            .circle.green

                    .featured-companies-company__review
                    
                        .flex.flex-direction-column

                            a(href="") Company site
                                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.07104 10.3597L10.071 2.35974" stroke="#171728" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M10.071 9.90222V2.3598H2.52862" stroke="#171728" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>

            .featured-companies__sidebar 
                <svg width="59" height="59" viewBox="0 0 59 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.693359" y="0.61853" width="58" height="58" rx="8" fill="white"/>
                    <path d="M45.2703 42.2112C45.2703 42.8203 45.0283 43.4045 44.5976 43.8352C44.1669 44.266 43.5827 44.5079 42.9736 44.5079H15.4132C14.804 44.5079 14.2199 44.266 13.7891 43.8352C13.3584 43.4045 13.1165 42.8203 13.1165 42.2112V23.8376C13.1165 23.2285 13.3584 22.6443 13.7891 22.2136C14.2199 21.7829 14.804 21.5409 15.4132 21.5409H42.9736C43.5827 21.5409 44.1669 21.7829 44.5976 22.2136C45.0283 22.6443 45.2703 23.2285 45.2703 23.8376V42.2112Z" stroke="#ED702E" stroke-width="2.42828" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M20.0065 21.5409V44.5079" stroke="#ED702E" stroke-width="2.42828" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M38.3802 21.5409V44.5079" stroke="#ED702E" stroke-width="2.42828" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M24.6 21.5409V19.2442C24.6 18.0259 25.0839 16.8576 25.9454 15.9961C26.8068 15.1347 27.9751 14.6508 29.1934 14.6508C30.4116 14.6508 31.58 15.1347 32.4414 15.9961C33.3028 16.8576 33.7868 18.0259 33.7868 19.2442V21.5409" stroke="#ED702E" stroke-width="2.42828" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                h4 Post a company today
                p post a company and rate<br>them for their ghost score.
                .ui-button.ui-button-orange 
                    a(href="#") Post a company 
                .ui-button-link 
                    a(href="") or post a review 


