section.footer-cta
    .container.footer-cta__container 
        .footer-cta__wrapper 
            .footer-cta__title Join our newsletter and receive the latest updates about jobghost.
            .footer-cta__input 
                input(type="text", placeholder="Subscribe to our newsletter")
                button.ui-button.ui-button-orange Subscribe