section.testimonials
    .container.testimonials__container 
        .section__title.black 
            h3 Testimonials
        .testimonials__wrapper 

            .testimonials__bg 
                <svg xmlns="http://www.w3.org/2000/svg" width="1224" height="562" viewBox="0 0 1224 562" fill="none">
                    <g opacity="0.2" clip-path="url(#clip0_240_2640)">
                    <path d="M-8.00049 446.392C42.7394 307.998 155.678 -15.6539 692.381 3.84391C1229.08 23.3417 1494.81 -195.125 1499.23 -332.664" stroke="#D69009" stroke-width="0.855166"/>
                    <path d="M182.702 778.623C233.442 640.229 469.097 368.315 1005.8 387.812C1542.5 407.31 1624.8 324.815 1629.22 187.276" stroke="#D69009" stroke-width="0.855166"/>
                    <path d="M-8.00049 872.264C42.7394 733.87 204.423 526.521 741.125 546.019C1277.83 565.517 1494.81 230.747 1499.23 93.2083" stroke="#D69009" stroke-width="0.855166"/>
                    <g opacity="0.5">
                    <rect x="759.511" y="258.683" width="97.7885" height="29.5265" rx="2.99308" stroke="white" stroke-width="0.855166"/>
                    <g clip-path="url(#clip1_240_2640)">
                    <path d="M782.261 269.599L778.422 273.447L782.261 277.295L781.079 278.477L776.049 273.447L781.079 268.417L782.261 269.599Z" fill="white"/>
                    </g>
                    <path d="M790.423 278.386V268.535H794.405C794.501 268.535 794.619 268.539 794.761 268.548C794.902 268.553 795.036 268.567 795.164 268.589C795.711 268.676 796.168 268.863 796.532 269.15C796.902 269.438 797.178 269.8 797.36 270.238C797.543 270.676 797.634 271.16 797.634 271.689C797.634 272.222 797.543 272.708 797.36 273.146C797.178 273.584 796.902 273.946 796.532 274.234C796.168 274.521 795.711 274.708 795.164 274.795C795.036 274.813 794.9 274.826 794.754 274.836C794.612 274.845 794.496 274.849 794.405 274.849H791.853V278.386H790.423ZM791.853 273.495H794.35C794.441 273.495 794.542 273.49 794.651 273.481C794.765 273.472 794.872 273.456 794.973 273.433C795.265 273.365 795.499 273.239 795.677 273.057C795.855 272.87 795.983 272.655 796.06 272.414C796.138 272.172 796.177 271.93 796.177 271.689C796.177 271.447 796.138 271.207 796.06 270.97C795.983 270.728 795.855 270.516 795.677 270.334C795.499 270.147 795.265 270.019 794.973 269.951C794.872 269.924 794.765 269.905 794.651 269.896C794.542 269.887 794.441 269.882 794.35 269.882H791.853V273.495ZM799.07 278.386V270.998H800.342V272.79L800.165 272.557C800.256 272.32 800.374 272.104 800.52 271.907C800.666 271.707 800.835 271.543 801.027 271.415C801.214 271.278 801.421 271.173 801.649 271.1C801.882 271.023 802.119 270.977 802.361 270.963C802.602 270.945 802.835 270.957 803.058 270.998V272.338C802.817 272.275 802.548 272.256 802.251 272.284C801.959 272.311 801.69 272.405 801.444 272.564C801.211 272.715 801.027 272.897 800.89 273.112C800.757 273.326 800.662 273.565 800.602 273.83C800.543 274.09 800.513 274.366 800.513 274.658V278.386H799.07ZM807.573 278.591C806.839 278.591 806.193 278.432 805.637 278.113C805.085 277.789 804.654 277.34 804.344 276.765C804.038 276.186 803.886 275.515 803.886 274.753C803.886 273.946 804.036 273.246 804.337 272.653C804.643 272.06 805.067 271.602 805.61 271.278C806.152 270.954 806.784 270.792 807.505 270.792C808.257 270.792 808.898 270.968 809.427 271.319C809.956 271.666 810.351 272.161 810.611 272.804C810.875 273.447 810.98 274.211 810.925 275.096H809.495V274.576C809.486 273.718 809.322 273.084 809.003 272.674C808.688 272.263 808.207 272.058 807.559 272.058C806.843 272.058 806.305 272.284 805.945 272.735C805.585 273.187 805.404 273.839 805.404 274.692C805.404 275.504 805.585 276.133 805.945 276.58C806.305 277.023 806.825 277.244 807.505 277.244C807.952 277.244 808.337 277.143 808.661 276.943C808.989 276.737 809.245 276.446 809.427 276.067L810.83 276.512C810.542 277.173 810.107 277.686 809.523 278.051C808.939 278.411 808.289 278.591 807.573 278.591ZM804.939 275.096V273.98H810.214V275.096H804.939ZM814.259 278.386L811.577 270.998H813.021L814.984 276.594L816.948 270.998H818.391L815.709 278.386H814.259ZM819.829 269.787V268.398H821.259V269.787H819.829ZM819.829 278.386V270.998H821.259V278.386H819.829ZM826.59 278.591C825.851 278.591 825.211 278.425 824.668 278.092C824.125 277.759 823.706 277.301 823.409 276.717C823.117 276.129 822.971 275.451 822.971 274.685C822.971 273.914 823.122 273.237 823.423 272.653C823.724 272.065 824.146 271.609 824.688 271.285C825.231 270.957 825.865 270.792 826.59 270.792C827.329 270.792 827.97 270.959 828.513 271.292C829.056 271.625 829.475 272.083 829.772 272.667C830.068 273.251 830.216 273.923 830.216 274.685C830.216 275.456 830.066 276.135 829.765 276.724C829.468 277.308 829.049 277.766 828.506 278.099C827.963 278.427 827.325 278.591 826.59 278.591ZM826.59 277.244C827.297 277.244 827.824 277.007 828.171 276.532C828.522 276.053 828.697 275.438 828.697 274.685C828.697 273.914 828.52 273.299 828.164 272.838C827.813 272.373 827.288 272.14 826.59 272.14C826.111 272.14 825.717 272.25 825.407 272.468C825.097 272.683 824.866 272.982 824.716 273.365C824.565 273.743 824.49 274.183 824.49 274.685C824.49 275.46 824.668 276.081 825.024 276.546C825.379 277.011 825.902 277.244 826.59 277.244ZM834.572 278.585C834.062 278.585 833.633 278.503 833.286 278.338C832.94 278.174 832.657 277.96 832.438 277.695C832.224 277.426 832.059 277.134 831.945 276.82C831.831 276.505 831.754 276.197 831.713 275.896C831.672 275.595 831.651 275.33 831.651 275.102V270.998H833.102V274.63C833.102 274.918 833.124 275.214 833.17 275.52C833.22 275.821 833.311 276.101 833.444 276.361C833.58 276.621 833.77 276.831 834.011 276.991C834.258 277.15 834.577 277.23 834.969 277.23C835.225 277.23 835.466 277.189 835.694 277.107C835.923 277.02 836.121 276.883 836.29 276.696C836.463 276.509 836.598 276.263 836.693 275.958C836.794 275.652 836.844 275.28 836.844 274.842L837.733 275.178C837.733 275.848 837.608 276.441 837.357 276.956C837.106 277.467 836.746 277.866 836.276 278.154C835.806 278.441 835.238 278.585 834.572 278.585ZM837.015 278.386V276.252H836.844V270.998H838.287V278.386H837.015ZM843.1 278.585C842.201 278.585 841.469 278.386 840.904 277.989C840.338 277.593 839.992 277.034 839.864 276.313L841.328 276.088C841.419 276.471 841.629 276.774 841.957 276.997C842.29 277.216 842.703 277.326 843.196 277.326C843.643 277.326 843.992 277.235 844.242 277.052C844.498 276.87 844.626 276.619 844.626 276.3C844.626 276.113 844.58 275.962 844.489 275.848C844.402 275.73 844.217 275.618 843.935 275.513C843.652 275.408 843.221 275.278 842.642 275.123C842.008 274.959 841.504 274.783 841.13 274.596C840.76 274.405 840.496 274.183 840.336 273.933C840.181 273.677 840.103 273.369 840.103 273.009C840.103 272.562 840.222 272.172 840.459 271.839C840.696 271.506 841.029 271.248 841.458 271.066C841.891 270.884 842.398 270.792 842.977 270.792C843.542 270.792 844.046 270.881 844.489 271.059C844.931 271.237 845.289 271.49 845.563 271.819C845.837 272.142 846.001 272.523 846.055 272.961L844.591 273.228C844.541 272.872 844.375 272.592 844.092 272.386C843.809 272.181 843.442 272.069 842.991 272.051C842.557 272.033 842.206 272.106 841.937 272.27C841.668 272.43 841.533 272.651 841.533 272.934C841.533 273.098 841.583 273.237 841.684 273.351C841.789 273.465 841.989 273.574 842.286 273.679C842.582 273.784 843.02 273.91 843.599 274.056C844.22 274.215 844.712 274.393 845.077 274.589C845.442 274.781 845.702 275.011 845.857 275.28C846.017 275.545 846.096 275.866 846.096 276.245C846.096 276.975 845.83 277.547 845.296 277.962C844.767 278.377 844.035 278.585 843.1 278.585Z" fill="white"/>
                    </g>
                    <rect x="864.996" y="258.683" width="71.7885" height="29.5265" rx="2.99308" stroke="white" stroke-width="0.855166"/>
                    <path d="M875.789 278.386V268.535H877.239L882.089 275.855V268.535H883.54V278.386H882.089L877.239 271.059V278.386H875.789ZM888.795 278.591C888.06 278.591 887.415 278.432 886.859 278.113C886.307 277.789 885.876 277.34 885.566 276.765C885.26 276.186 885.107 275.515 885.107 274.753C885.107 273.946 885.258 273.246 885.559 272.653C885.864 272.06 886.289 271.602 886.831 271.278C887.374 270.954 888.006 270.792 888.726 270.792C889.479 270.792 890.12 270.968 890.649 271.319C891.178 271.666 891.572 272.161 891.832 272.804C892.097 273.447 892.202 274.211 892.147 275.096H890.717V274.576C890.708 273.718 890.544 273.084 890.225 272.674C889.91 272.263 889.429 272.058 888.781 272.058C888.065 272.058 887.527 272.284 887.166 272.735C886.806 273.187 886.626 273.839 886.626 274.692C886.626 275.504 886.806 276.133 887.166 276.58C887.527 277.023 888.047 277.244 888.726 277.244C889.173 277.244 889.559 277.143 889.882 276.943C890.211 276.737 890.466 276.446 890.649 276.067L892.051 276.512C891.764 277.173 891.328 277.686 890.744 278.051C890.161 278.411 889.511 278.591 888.795 278.591ZM886.161 275.096V273.98H891.435V275.096H886.161ZM892.662 278.386L895.426 274.651L892.724 270.998H894.42L896.261 273.536L898.08 270.998H899.777L897.075 274.651L899.845 278.386H898.142L896.261 275.766L894.366 278.386H892.662ZM905.235 278.386C904.77 278.477 904.314 278.516 903.867 278.503C903.42 278.489 903.021 278.402 902.67 278.243C902.319 278.083 902.054 277.832 901.876 277.49C901.717 277.184 901.63 276.874 901.616 276.56C901.607 276.24 901.603 275.88 901.603 275.479V268.945H903.039V275.41C903.039 275.707 903.042 275.964 903.046 276.183C903.055 276.402 903.103 276.587 903.19 276.737C903.354 277.02 903.614 277.182 903.97 277.223C904.33 277.26 904.752 277.244 905.235 277.175V278.386ZM900.186 272.147V270.998H905.235V272.147H900.186Z" fill="white"/>
                    <g clip-path="url(#clip2_240_2640)">
                    <path d="M914.031 277.293L917.871 273.445L914.031 269.598L915.213 268.416L920.243 273.445L915.213 278.475L914.031 277.293Z" fill="white"/>
                    </g>
                    </g>
                    <defs>
                    <clipPath id="clip0_240_2640">
                    <rect width="1231.44" height="561.035" fill="white" transform="translate(-8.00024 0.850342)"/>
                    </clipPath>
                    <clipPath id="clip1_240_2640">
                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(789.466 283.506) rotate(180)"/>
                    </clipPath>
                    <clipPath id="clip2_240_2640">
                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(906.831 263.386)"/>
                    </clipPath>
                    </defs>
                </svg>

            .testimonials__top 
                .text 
                    h4 Our User Feedback
                    p     Don’t take our word for it. Trust our users
                .testimonials__slider--buttons 
                    .testimonials__slider__button-prev.testimonials__slider__button
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_12634_5259)">
                                <path d="M8.03223 14.0145L11.8717 10.1666L8.03223 6.31875L9.21426 5.13672L14.2442 10.1666L9.21426 15.1966L8.03223 14.0145Z" fill="#9BD609" />
                            </g>
                            <defs>
                                <clipPath id="clip0_12634_5259">
                                <rect width="20.1197" height="20.1197" fill="white" transform="translate(0.831055 0.106934)" />
                                </clipPath>
                            </defs>
                        </svg>
                        .text Previous 
                    .testimonials__slider__button-next.testimonials__slider__button
                       
                        .text Next
                        <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_12634_5255)">
                                <path d="M8.03223 14.0145L11.8717 10.1666L8.03223 6.31875L9.21426 5.13672L14.2442 10.1666L9.21426 15.1966L8.03223 14.0145Z" fill="#9BD609" />
                            </g>
                            <defs>
                                <clipPath id="clip0_12634_5255">
                                <rect width="20.1197" height="20.1197" fill="white" transform="translate(0.831055 0.106934)" />
                                </clipPath>
                            </defs>
                        </svg>

            .testimonials__slider 
                
                .swiper-wrapper 
                    .swiper-slide 
                        .testimonials-card 
                            .testimonials-card__top 
                                img(src="https://placehold.co/50x50", alt="")
                                <svg xmlns="http://www.w3.org/2000/svg" width="115" height="21" viewBox="0 0 115 21" fill="none">
                                    <g clip-path="url(#clip0_240_2678)">
                                    <path d="M10.3153 14.9787L15.4962 18.1056L14.1213 12.2122L18.6986 8.24694L12.671 7.73556L10.3153 2.17749L7.95966 7.73556L1.93213 8.24694L6.50936 12.2122L5.13452 18.1056L10.3153 14.9787Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip1_240_2678)">
                                    <path d="M33.7882 14.9787L38.9691 18.1056L37.5942 12.2122L42.1715 8.24694L36.1439 7.73556L33.7882 2.17749L31.4326 7.73556L25.405 8.24694L29.9823 12.2122L28.6074 18.1056L33.7882 14.9787Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip2_240_2678)">
                                    <path d="M57.2611 14.9787L62.442 18.1056L61.0671 12.2122L65.6444 8.24694L59.6168 7.73556L57.2611 2.17749L54.9055 7.73556L48.8779 8.24694L53.4552 12.2122L52.0803 18.1056L57.2611 14.9787Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip3_240_2678)">
                                    <path d="M89.1175 8.24694L83.09 7.72718L80.7343 2.17749L78.3786 7.73556L72.3511 8.24694L76.9283 12.2122L75.5535 18.1056L80.7343 14.9787L85.9151 18.1056L84.5486 12.2122L89.1175 8.24694ZM80.7343 13.411V5.61461L82.1678 9.00143L85.8397 9.31999L83.0564 11.7344L83.8948 15.3224L80.7343 13.411Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip4_240_2678)">
                                    <path d="M112.59 8.24694L106.563 7.72718L104.207 2.17749L101.852 7.73556L95.824 8.24694L100.401 12.2122L99.0264 18.1056L104.207 14.9787L109.388 18.1056L108.022 12.2122L112.59 8.24694ZM104.207 13.411L101.055 15.314L101.893 11.726L99.1102 9.31161L102.782 8.99304L104.207 5.61461L105.641 9.00143L109.313 9.31999L106.529 11.7344L107.368 15.3224L104.207 13.411Z" fill="#F8A401"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(0.255371 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip1_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(23.7283 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip2_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(47.2012 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip3_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(70.6743 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip4_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(94.1472 0.500732)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            .testimonials-card__bottom   
                                h5 Floyd Miles
                                p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.

                    .swiper-slide 
                        .testimonials-card 
                            .testimonials-card__top 
                                img(src="https://placehold.co/50x50", alt="")
                                <svg xmlns="http://www.w3.org/2000/svg" width="115" height="21" viewBox="0 0 115 21" fill="none">
                                    <g clip-path="url(#clip0_240_2678)">
                                    <path d="M10.3153 14.9787L15.4962 18.1056L14.1213 12.2122L18.6986 8.24694L12.671 7.73556L10.3153 2.17749L7.95966 7.73556L1.93213 8.24694L6.50936 12.2122L5.13452 18.1056L10.3153 14.9787Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip1_240_2678)">
                                    <path d="M33.7882 14.9787L38.9691 18.1056L37.5942 12.2122L42.1715 8.24694L36.1439 7.73556L33.7882 2.17749L31.4326 7.73556L25.405 8.24694L29.9823 12.2122L28.6074 18.1056L33.7882 14.9787Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip2_240_2678)">
                                    <path d="M57.2611 14.9787L62.442 18.1056L61.0671 12.2122L65.6444 8.24694L59.6168 7.73556L57.2611 2.17749L54.9055 7.73556L48.8779 8.24694L53.4552 12.2122L52.0803 18.1056L57.2611 14.9787Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip3_240_2678)">
                                    <path d="M89.1175 8.24694L83.09 7.72718L80.7343 2.17749L78.3786 7.73556L72.3511 8.24694L76.9283 12.2122L75.5535 18.1056L80.7343 14.9787L85.9151 18.1056L84.5486 12.2122L89.1175 8.24694ZM80.7343 13.411V5.61461L82.1678 9.00143L85.8397 9.31999L83.0564 11.7344L83.8948 15.3224L80.7343 13.411Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip4_240_2678)">
                                    <path d="M112.59 8.24694L106.563 7.72718L104.207 2.17749L101.852 7.73556L95.824 8.24694L100.401 12.2122L99.0264 18.1056L104.207 14.9787L109.388 18.1056L108.022 12.2122L112.59 8.24694ZM104.207 13.411L101.055 15.314L101.893 11.726L99.1102 9.31161L102.782 8.99304L104.207 5.61461L105.641 9.00143L109.313 9.31999L106.529 11.7344L107.368 15.3224L104.207 13.411Z" fill="#F8A401"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(0.255371 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip1_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(23.7283 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip2_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(47.2012 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip3_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(70.6743 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip4_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(94.1472 0.500732)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            .testimonials-card__bottom   
                                h5 Floyd Miles
                                p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            
                    .swiper-slide 
                        .testimonials-card 
                            .testimonials-card__top 
                                img(src="https://placehold.co/50x50", alt="")
                                <svg xmlns="http://www.w3.org/2000/svg" width="115" height="21" viewBox="0 0 115 21" fill="none">
                                    <g clip-path="url(#clip0_240_2678)">
                                    <path d="M10.3153 14.9787L15.4962 18.1056L14.1213 12.2122L18.6986 8.24694L12.671 7.73556L10.3153 2.17749L7.95966 7.73556L1.93213 8.24694L6.50936 12.2122L5.13452 18.1056L10.3153 14.9787Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip1_240_2678)">
                                    <path d="M33.7882 14.9787L38.9691 18.1056L37.5942 12.2122L42.1715 8.24694L36.1439 7.73556L33.7882 2.17749L31.4326 7.73556L25.405 8.24694L29.9823 12.2122L28.6074 18.1056L33.7882 14.9787Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip2_240_2678)">
                                    <path d="M57.2611 14.9787L62.442 18.1056L61.0671 12.2122L65.6444 8.24694L59.6168 7.73556L57.2611 2.17749L54.9055 7.73556L48.8779 8.24694L53.4552 12.2122L52.0803 18.1056L57.2611 14.9787Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip3_240_2678)">
                                    <path d="M89.1175 8.24694L83.09 7.72718L80.7343 2.17749L78.3786 7.73556L72.3511 8.24694L76.9283 12.2122L75.5535 18.1056L80.7343 14.9787L85.9151 18.1056L84.5486 12.2122L89.1175 8.24694ZM80.7343 13.411V5.61461L82.1678 9.00143L85.8397 9.31999L83.0564 11.7344L83.8948 15.3224L80.7343 13.411Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip4_240_2678)">
                                    <path d="M112.59 8.24694L106.563 7.72718L104.207 2.17749L101.852 7.73556L95.824 8.24694L100.401 12.2122L99.0264 18.1056L104.207 14.9787L109.388 18.1056L108.022 12.2122L112.59 8.24694ZM104.207 13.411L101.055 15.314L101.893 11.726L99.1102 9.31161L102.782 8.99304L104.207 5.61461L105.641 9.00143L109.313 9.31999L106.529 11.7344L107.368 15.3224L104.207 13.411Z" fill="#F8A401"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(0.255371 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip1_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(23.7283 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip2_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(47.2012 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip3_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(70.6743 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip4_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(94.1472 0.500732)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            .testimonials-card__bottom   
                                h5 Floyd Miles
                                p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.                        
                                        .swiper-slide 
                        
                                
                    .swiper-slide 
                        .testimonials-card 
                            .testimonials-card__top 
                                img(src="https://placehold.co/50x50", alt="")
                                <svg xmlns="http://www.w3.org/2000/svg" width="115" height="21" viewBox="0 0 115 21" fill="none">
                                    <g clip-path="url(#clip0_240_2678)">
                                    <path d="M10.3153 14.9787L15.4962 18.1056L14.1213 12.2122L18.6986 8.24694L12.671 7.73556L10.3153 2.17749L7.95966 7.73556L1.93213 8.24694L6.50936 12.2122L5.13452 18.1056L10.3153 14.9787Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip1_240_2678)">
                                    <path d="M33.7882 14.9787L38.9691 18.1056L37.5942 12.2122L42.1715 8.24694L36.1439 7.73556L33.7882 2.17749L31.4326 7.73556L25.405 8.24694L29.9823 12.2122L28.6074 18.1056L33.7882 14.9787Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip2_240_2678)">
                                    <path d="M57.2611 14.9787L62.442 18.1056L61.0671 12.2122L65.6444 8.24694L59.6168 7.73556L57.2611 2.17749L54.9055 7.73556L48.8779 8.24694L53.4552 12.2122L52.0803 18.1056L57.2611 14.9787Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip3_240_2678)">
                                    <path d="M89.1175 8.24694L83.09 7.72718L80.7343 2.17749L78.3786 7.73556L72.3511 8.24694L76.9283 12.2122L75.5535 18.1056L80.7343 14.9787L85.9151 18.1056L84.5486 12.2122L89.1175 8.24694ZM80.7343 13.411V5.61461L82.1678 9.00143L85.8397 9.31999L83.0564 11.7344L83.8948 15.3224L80.7343 13.411Z" fill="#F8A401"/>
                                    </g>
                                    <g clip-path="url(#clip4_240_2678)">
                                    <path d="M112.59 8.24694L106.563 7.72718L104.207 2.17749L101.852 7.73556L95.824 8.24694L100.401 12.2122L99.0264 18.1056L104.207 14.9787L109.388 18.1056L108.022 12.2122L112.59 8.24694ZM104.207 13.411L101.055 15.314L101.893 11.726L99.1102 9.31161L102.782 8.99304L104.207 5.61461L105.641 9.00143L109.313 9.31999L106.529 11.7344L107.368 15.3224L104.207 13.411Z" fill="#F8A401"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(0.255371 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip1_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(23.7283 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip2_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(47.2012 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip3_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(70.6743 0.500732)"/>
                                    </clipPath>
                                    <clipPath id="clip4_240_2678">
                                    <rect width="20.1197" height="20.1197" fill="white" transform="translate(94.1472 0.500732)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            .testimonials-card__bottom   
                                h5 Floyd Miles
                                p Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            
                